body {
    background-image: url("images/background.png");
    background-repeat: repeat-y;
    background-position: right top;
    background-color: #504F4D;
    color: #ffffff;
}


#cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;

}

a {
    color: #ffffff;
}