body {
    margin: 10px 200px 10px 10px;
    padding: 10;
    background-image: url("images/cover_small.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}

#sourcecode {
    padding-top: 70px;
}

div.form-row {
    padding: 4px 0 2px;
}

div.form-row label {
    float: left;
    width: 75px;
}